body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
      135deg,
      #6a0dad,
      #c89cf0
    ); /* Purple background */
      
}


/* Quiz Section */
#quiz-section {
  /* max-width: 100%; */
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 60px; /* Adjust this value to match or exceed the height of your footer */
  
}

#question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

img{
  width:70%;
}

#questionText {
  font-size: 18px;
  margin: 20px 0;
  text-align: center;
}

/* Answer Choices */
#choices-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

}

.choice {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.choice:hover {
  background-color: #0056b3;
}

.choice:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Feedback and Navigation */
#feedback {
  margin: 20px 0;
  font-weight: bold;
  text-align: center;
}

#nextButton {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  display: none;
  transition: background-color 0.3s;
}

#nextButton:hover {
  background-color: #218838;
}
