/* LoginPage.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f3e8ff;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #ffffff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #4b0082;
}

h2 {
  color: #4b0082;
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #8a2be2;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-form input:focus {
  border-color: #5d3fd3;
  outline: none;
}

.login-form button {
  width: 100%;
  background-color: #8a2be2;
  color: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #5d3fd3;
}

/* Sign-up button styling */
.sign-up-button {
  background: none;
  color: #8a2be2;
  border: none;
  margin-top: 15px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.sign-up-button:hover {
  color: #7a5bc4;
}
