/* SignUpPage.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f3e8ff; /* Light purple background */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

.signup-container {
  background-color: #ffffff; /* White background for the sign-up box */
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #4b0082; /* Dark purple text */
  width: 100%;
  max-width: 500px;
  margin: auto;
}

h2 {
  color: #4b0082; /* Dark purple heading */
  margin-bottom: 20px;
}

.signup-form input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #8a2be2; /* Purple border */
  border-radius: 4px;
  box-sizing: border-box;
}

.signup-form input:focus {
  border-color: #5d3fd3; /* Darker purple on focus */
  outline: none;
}

.signup-form button {
  width: 100%;
  background-color: #8a2be2; /* Purple button */
  color: #ffffff; /* White text */
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.signup-form button:hover {
  background-color: #5d3fd3; /* Darker purple on hover */
}

/* Login button styling */
.login-button {
  background: none;
  color: #8a2be2; /* Purple text */
  border: none;
  margin-top: 15px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline; /* Underline for the link */
  transition: color 0.3s ease;
}

.login-button:hover {
  color: #7a5bc4; /* Lighter purple on hover */
}

.go-home-button {
  background: none;
  color: #8a2be2;
  border: none;
  margin-top: 15px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.go-home-button:hover {
  color: #7a5bc4;
}
