/* Container for the Landing Page */
.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    135deg,
    #6a0dad,
    #d2c2e1
  ); /* Purple background */
  color: white;
  text-align: center;
  padding-left: 3%;
}

/* Content Wrapper */
.content {
  max-width: 600px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

/* Welcome Text Styling */
.welcome-text {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  border: 5px solid #9b30ff; /* Light purple border */
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1); /* Slight transparency */
}

/* Description Text Styling */
.description-text {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.5;
  padding: 0 20px;
}

/* Get Started Button Styling */
.get-started-button {
  background-color: #9b30ff; /* Light purple background */
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for Get Started Button */
.get-started-button:hover {
  background-color: #7b1fa2; /* Darker purple on hover */
}

.Nav {
  flex: 0 0 auto; 
}
