.main-container {
    flex: content-box;
    padding-top: 100px;
}

#main-title {
    font-size: 100px;
    color: black;
}

.completed-lessons-container {
    background-color: white;
}

.completed-units-container {
    background-color: black;
}