.footer {
  background-color: #6a239c;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  padding-left: 40px;
  position: absolute;
  width: 100vw;
  height: 80px;
  /* margin:30px; */
  width: 100%;
}

.footer-content {
  margin-bottom: 10px;
}

.footer h3 {
  margin: 0;
  font-size: 1.5rem;
  color: white;
}

.footer p {
  margin: 10px 0;
  font-size: 0.9rem;
}

.social-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #ffffff;
}

.footer-bottom {
  font-size: 0.8rem;
  border-top: 1px solid #444;
  padding-top: 10px;
}
