/* Navbar Container */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #6a0dad;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Left side of the Navbar */
.navbar-left {
  display: flex;
  align-items: center;
}

/* Logo Styling */
.logo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

/* Lessons Button Styling */
.lessons-button,
.translator-button,
.login-button,
.home-button {
  background-color: #7b2cbf; /* Green background */
  color: white; /* White text */
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

/* Translator Button Styling (same as lessons) */
.translator-button {
  background-color: #8a2be2; /* Blue background */
}

.translator-button:hover {
  background-color: #7b1fa2; /* Darker blue on hover */
}

/* Hover effect for buttons */
.lessons-button:hover {
  background-color: #6a0dad; /* Darker green on hover */
}

/* Login/Signup Button - Positioned to the Right */
.login-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: #ba55d3; /* Red background */
}

.login-button:hover {
  background-color: #9932cc; /* Darker red on hover */
}

.home-button:hover {
  color: #9932cc; /* Change color on hover */
}
