/* Navbar Container */
.navbar {
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: #6a239c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* Left side of the Navbar */
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

/* Logo Styling */
.logo {
  height: 50px;
  width: 70px;
}

/* Right side of the Navbar (buttons) */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px; /* Space between buttons */
}

/* Shared Button Styling */
.navbar-button {
  background-color: #7b2cbf;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none; /* Remove any link appearance */
}

/* Hover Effects */
.navbar-button:hover {
  background-color: #6a0dad;
}

/* .translator-button {
  background-color: #8a2be2;
}

.translator-button:hover {
  background-color: #7b1fa2;
} */

.login-button {
  color: red;
}

.login-button:hover {
  background-color: #9932cc;
}
